<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>0</integer>
	<key>Battery_bar_chart_box</key>
	<false/>
	<key>Battery_bar_chart_frame</key>
	<false/>
	<key>Battery_bar_chart_label</key>
	<false/>
	<key>Battery_batteryDetails_position</key>
	<integer>2</integer>
	<key>Battery_battery_position</key>
	<integer>3</integer>
	<key>Battery_label_position</key>
	<integer>4</integer>
	<key>Battery_mini_position</key>
	<integer>1</integer>
	<key>Battery_oneView</key>
	<true/>
	<key>Battery_state</key>
	<false/>
	<key>Battery_widget</key>
	<string>bar_chart,mini</string>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_processes</key>
	<integer>0</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_updateInterval</key>
	<integer>5</integer>
	<key>CPU_updateTopInterval</key>
	<integer>60</integer>
	<key>Clock_state</key>
	<false/>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_label_position</key>
	<integer>2</integer>
	<key>Disk_memory_position</key>
	<integer>0</integer>
	<key>Disk_mini_position</key>
	<integer>1</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_processes</key>
	<integer>0</integer>
	<key>Disk_removable</key>
	<false/>
	<key>Disk_speed_position</key>
	<integer>5</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_widget</key>
	<string>memory</string>
	<key>GPU_mini_label</key>
	<true/>
	<key>GPU_state</key>
	<false/>
	<key>GPU_updateInterval</key>
	<integer>5</integer>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>745 687 430 163 0 0 1920 1080 </string>
	<key>Network_state</key>
	<true/>
	<key>RAM_mini_color</key>
	<string>white</string>
	<key>RAM_mini_label</key>
	<true/>
	<key>RAM_notifications_total_state</key>
	<false/>
	<key>RAM_processes</key>
	<integer>0</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_updateInterval</key>
	<integer>5</integer>
	<key>RAM_updateTopInterval</key>
	<integer>60</integer>
	<key>Sensors_state</key>
	<false/>
	<key>ble_20-20-01-5f-34-83</key>
	<false/>
	<key>pause</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_PDTR</key>
	<false/>
	<key>sensor_PPBR</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>telemetry</key>
	<false/>
	<key>update-interval</key>
	<string>Once per month</string>
	<key>updater_check_ts</key>
	<integer>1718053144</integer>
	<key>version</key>
	<string>2.10.17</string>
</dict>
</plist>
